.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* align-items: center; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
.headerCenter {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 40px;
    flex: 2;
    white-space: pre-line;
}
.headerLeft {
    flex: 0.5;
    width: 30mm;
}
.headerLogo {
    width: 100%;
    height: 100%;
}
.headerRight {
    padding: 0;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin-top: 2mm;
}
.rightTop {
    margin-top: 2mm;
    padding: 0;
}
.rightContent {
    margin: 0;
}